.main {
  display: flex;
  text-align: center;
  flex-flow: row wrap;
}

.main > * {
  padding: 10px;
  margin: 10px;
  flex: 1 100%;
  border-radius: 10px;
}

.header {
  background-color: tomato;
  height: 120px;
}

.footer {
  background-color: turquoise;
  height: 80px;
}

.article {
  text-align: left;
  background-color: chartreuse;
  height: 200px;
  font-size: 24px;
}

.aside1 {
  background-color: coral;
}

.aside2 {
  background-color: darkviolet;
}

@media all and (min-width: 800px) {
  .article {
    flex: 3;
  }

  .aside1 {
    order: 1;
  }

  .aside2 {
    order: 2;
  }

  .article {
    order: 2;
  }

  .footer {
    order: 4;
  }
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1;
  }
}
